node_modules
/backend/node_modules
/backend/playwright-report/
/backend/blob-report/
/backend/playwright/.cache/
/backend/test-results/
/backend/playwright-report/
/backend/blob-report/
/backend/playwright/.cache/
/backend/test-results/
/backend/playwright-report/
/backend/blob-report/
/backend/playwright/.cache/
/backend/.env
/frontend/node_modules
/frontend/test-results/
/frontend/playwright-report/
/frontend/blob-report/
/frontend/playwright/.cache/
/frontend/.env
/.cache
/frontend/.cache
/frontend/build
/frontend/public/build
/build
.env